/* Navbar */

nav {
  display: flex;
  height: 80px;
  max-width: 1110px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  position: relative;
}
.logo-img {
  max-width: 50px;
  max-height: 50px;
  /* margin-left: 100px; */
}
ul {
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
}
li {
  font-size: 1.8rem;
  margin-right: 10px;
}
li + li {
  margin-left: 35px;
}
li a {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}
li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-blue);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
  left: 0;
}

#container {
  background: var(--color-background-blue);
  height: 100vh;
}
.card-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid red;
  max-height: 440px;
  max-width: 1110px;
  margin: 0 auto;
}
.information-card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-left: -250px;

}
#virus-1 {
  background: radial-gradient(circle, rgba(86,127,160,1) 7%, rgba(25,81,126,0) 62%, rgba(0,63,113,0) 65%);
  bottom: 0;
  height: 600px;
  width: 1150px;
  margin-left: -350px;
  margin-top: 160px;
}
.card-1 h1 {
  font-size: 5.1rem;
  color: var(--color-yellow);
  font-weight: 300;
}
.card-1 p {
  font-size: 2rem;
  color: var(--color-white);
}





/* #container-svg{
  background: radial-gradient(circle, rgba(86,127,160,1) 7%, rgba(25,81,126,0) 52%, rgba(0,63,113,0) 65%);
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0;
  margin-right: 800px;
  margin-top: -100px;
}

#section-1 .container-1 {
  max-width: 1180px;
} */
