/* Navbar */

nav {
  display: flex;
  height: 80px;
  max-width: 1110px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  position: relative;
}
.logo-img {
  max-width: 50px;
  max-height: 50px;
  /* margin-left: 100px; */
}
ul {
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
}
li {
  font-size: 1.8rem;
  margin-right: 10px;
}
li + li {
  margin-left: 35px;
}
li a {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}
li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-blue);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
  left: 0;
}

#container {
  background: var(--color-background-blue);
  height: 100vh;
}
.card-1 {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
}

.card-1 h1 {
  border: 1px solid black;
  font-size: 4rem;
  color: var(--color-yellow);
  font-weight: 300;
}
.card-1 p {
  font-size: 2rem;
  color: var(--color-white);
}


#virus-1 {
  border: 1px solid black;
  height: 350px;
  width: 350px;
  background: radial-gradient(circle, rgba(86,127,160,1) 7%, rgba(25,81,126,0) 62%, rgba(0,63,113,0) 65%);
}


/* background: radial-gradient(circle, rgba(86,127,160,1) 7%, rgba(25,81,126,0) 62%, rgba(0,63,113,0) 65%); */
